% Licensed under the Apache License, Version 2.0 (the "License"); you may not
% use this file except in compliance with the License. You may obtain a copy of
% the License at
%
%   http://www.apache.org/licenses/LICENSE-2.0
%
% Unless required by applicable law or agreed to in writing, software
% distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
% WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
% License for the specific language governing permissions and limitations under
% the License.


{config, file, undefined,
    "The config file to use"}.

{ignore, list, [],
    "A list of glob patterns to ignore specific files"}.

{jobs, pos_integer, 4,
    "The number of files to process in parallel"}.

{max_line_length, pos_integer, 80,
    "The maximum line length in characters"}.

{indentation_count, pos_integer, 4,
    "The number of spaces per indentation level"}.

{report_formatter, formatter, text,
    "The report output format to display"}.

{whitelist, file, undefined,
    "A CSV file with filename,line,column,error_code reports to ignore"}.